:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.3;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #f0eff3;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #1f2122;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}
form{
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 400px;
  width: 100%;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1b259b;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #2b33c8;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.signup-container {
  display: flex;
  flex-direction: column;  
  padding: 1.3em;
  border-radius: 16px;
  background: #f0efed;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  width: 120%;
  justify-content: center;
  margin: auto;
  max-width: 950px; 
  animation: slideFadeIn 0.6s ease-out;
  transition: all 0.3s ease-in-out;
}
.signup-container h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5em;
  color: #1b259b;
  text-align: center;
  border-bottom: 2px solid #1b259b;
}
@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
input[type="email"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 0.6em 1em;
  margin-top: 0.3em;
  font-size: 1rem;
  border: 1px solid #c2c0ca;
  border-radius: 6px;
  background-color: #fff;
  color: #333;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #646cff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(100, 108, 255, 0.3);
}
.validation-box {
  padding: 1em;
  border-radius: 6px;
  text-align: left;
}
.signup-form label {
  font-weight: 500;
  color: #1f2122;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.checkbox-group label {
  color: #333;
  display: flex;
  align-items: center;
  gap: 0.5em;
}